:root {
    --dog-orange: #C97C5D;        
    --dog-orange-hover: #A85C3B;
    --cream: #FFF7ED;            
    --beige: #E7D3C1;            
    --brown: #5A3E2B;            
    --dark: #2E1F16;                        
    --gold: #E6B98A;            
    --white: #FFFFFF;
    --gray: #8A7F78;             
    --pink-light: #FFF1E6;       
    --peach: #F3D5C0;   
    --blue-soft: #aa7345;
    --blue-soft-hover: #62421a;        
}

body {
    background-color: var(--cream);
    color: var(--dark);
}

.text-secondary-custom {
    color: var(--brown);
}

.card-custom {
    background-color: var(--pink-light);
    border: 2px solid var(--beige);
}

.text-link-custom {
    color: var(--dog-orange);
    transition: 0.2s;
}

.text-link-custom:hover {
    color: var(--brown);
}

.input-group {
    background-color: var(--white);
    border-color: var(--beige) !important;
}

.input-group-text {
    color: var(--dog-orange);
    background-color: var(--peach) !important;
}

.form-control {
    color: var(--dark);
    background-color: var(--white);
}

.form-control::placeholder {
    color: var(--gray);
}

.form-control:focus {
    border-color: var(--dog-orange) !important;
    box-shadow: 0 0 0 0.25rem rgba(201, 124, 93, 0.20) !important;
}

.btn-link-custom {
    background-color: var(--dog-orange);
    border: none;
    color: white;
    transition: 0.3s;
    padding: 12px;
    font-weight: 500;
}

.btn-primary-soft {
    background-color: var(--blue-soft);
    border: none;
    color: white;
    transition: 0.3s;
    padding: 12px;
    font-weight: 500;
}

.btn-primary-soft:hover {
    background-color: var(--blue-soft-hover);
    transform: scale(1.02);
}

.btn-link-custom:hover {
    background-color: var(--dog-orange-hover);
    color: white;
}

.border {
    border-color: var(--beige) !important;
}

.perro-img {
    height: 220px;
    object-fit: cover;
}

.badge-custom {
    background-color: var(--gold);
    color: var(--dark);
}

.dog-footer {
    height: 120px;
    background-image: url("/static/img/perritos.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 100%;
    margin-top: 5rem;
}
.card-img-top {
    display: block;
    margin: 0 auto;
}
.img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}