{% extends "base.html" %}

{% block contenido %}

<div class="container py-4">

    <h2 class="text-center mb-4 text-secondary-custom">Perros en venta</h2>

    <div class="row">

        {% for perro in perros %}
        <div class="col-md-4 mb-4">
            <div class="card card-custom shadow-sm h-100">

                <img src="{{ perro.imagen_url }}" class="card-img-top perro-img">

                <div class="card-body">

                    <h5 class="card-title text-secondary-custom">
                        {{ perro.nombre }}
                    </h5>

                    <p class="card-text">
                        <strong>Raza:</strong> {{ perro.raza }} <br>
                        <strong>Edad:</strong> {{ perro.edad }} <br>
                        <strong>Sexo:</strong> {{ perro.sexo }} <br>
                        <strong>Precio:</strong> ${{ perro.precio or 0 }}
                    </p>

                    <span class="badge badge-custom">
                        {{ perro.tipo }}
                    </span>

                    <form action="{{ url_for('agregar_carrito', id=perro._id) }}" method="POST" class="mt-3">
                        <button class="btn btn-link-custom w-100">
                            Agregar al carrito
                        </button>
                    </form>

                </div>

            </div>
        </div>
        {% endfor %}

    </div>

    <div class="text-center mt-5">
        <a href="{{ url_for('ver_carrito') }}" class="btn btn-primary-soft">
            Ir al carrito
        </a>
    </div>

</div>

{% endblock %}